<h1><a href= "/create">create page</a></h1>

<p>
  <%= @sports.find_by(session[:sport_id]).name %>
</p>


<p>
  <%= @matches.find_by(28).player_one_id %>
</p>

<% @matches.each do |match| %>
<div>
  <h3><%= match.id %></a></h3> <h4>(user: <%= match.player_one_id %>)</h4>
  <p>
  </p>
  <small>(Posted at: <%= match.created_at%>
  </div>
<% end %>
