<h1> </br>

<%= @user.first_name %>'s profile page
</br>
First Name:
<%= @user.first_name %>
</br>
Last Name:
<%= @user.last_name %>
</br>
Username:
<%= @user.username %>
</br>
Email:
<%= @user.email %>
</br>
Overall Rating: 
<% rating %>
</br>

<% if @user.profile_pic? %>
  <img src = "uploads/<%=@user.profile_pic%>">
<% end %>


<h2><a href = "/upload">upload</a></h2>

<% @user.matches.review



</h2>
